@model IEnumerable<Book>

@{
    ViewData["Title"] = "SPA CRUD";
}

<h4 class="text-center">
    SPA - CRUD
</h4>

<div class="app-root">
    <!--Upsert Form-->
    <div class="userInputArea">
        <form>
            <div class="form-group">
                <label for="bookId" class="col-form-label">Book ID : </label>
                <input disabled id="bookId" type="number" class="form-control" />
            </div>

            <div class="form-group">
                <label for="bookName" class="col-form-label">Book Name : </label>
                <input id="bookName" class="form-control" />
            </div>

            <div class="form-group">
                <label for="authorName" class="col-form-label">Author Name : </label>
                <input id="authorName" class="form-control" />
            </div>

            <div class="form-group">
                <label for="isbn" class="col-form-label">ISBN : </label>
                <input id="isbn" class="form-control" />
            </div>

            <input type="button" id="upsertBtn" class="btn btn-success" value="ADD">
            <input type="button" id="cancelUpdate" class="btn btn-danger" value="Cancel Update" style="display:none;">
            <input type="button" id="saveToDbBtn" class="btn btn-primary" value="Save To Database">
        </form>
    </div>

    <!--Data Table-->
    <div class="dataTable table-responsive-sm">

        <table id="myBooks" class="table table-sm table-hover table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <!--<th>ID</th>-->
                    <th>Book Name</th>
                    <th>Author Name</th>
                    <th>ISBN</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var book in Model)
            {
                <tr id="bookId_@book.Id">
                    @*<td>
                        @book.Id
                    </td>*@
                    <td>
                        @book.BookName
                    </td>
                    <td>
                        @book.AuthorName
                    </td>
                    <td>
                        @book.ISBN
                    </td>
                    <td class="action-flex">
                        <i onclick="UpdateBook(this.parentElement.parentElement,@book.Id,'@book.BookName','@book.AuthorName','@book.ISBN')" class="fas fa-edit"></i>
                        <i onclick="deleteBook(@book.Id)" class="trash-icon fas fa-trash-alt"></i>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<!--AJAX Loader-->
<div class="modal-loader"></div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/index.js" defer></script>
}